<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mealmate.mapper.EmployeeMapper">
    <select id="pageQuery" resultType="com.mealmate.entity.Employee">
        select id, name, user_name, phone, status, create_time, update_time, create_user, update_user from employee
        <where>
            <if test="name != null and name != ''"> and name like concat('%',#{name},'%') </if>
        </where> order by create_time desc
    </select>

    <update id="update" parameterType="com.mealmate.entity.Employee">
        update employee
        <set>
            <if test="name != null and name!=''"> name = #{name}, </if>
            <if test="userName != null and userName!=''"> user_name = #{userName}, </if>
            <if test="phone != null"> phone = #{phone}, </if>
            <if test="password != null and userName!=''"> password = #{password}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="updateTime != null"> update_time = #{updateTime}, </if>
            <if test="updateUser != null"> update_user = #{updateUser}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>